<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1090126466803-d7mb6d9tpav3s0mn2rr00vcb98qhenum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090126466803-d7mb6d9tpav3s0mn2rr00vcb98qhenum</string>
	<key>API_KEY</key>
	<string>AIzaSyCTAPESRlcuUbYxoCYRUqeTLWxq85M0nEA</string>
	<key>GCM_SENDER_ID</key>
	<string>1090126466803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edgar.EntrandaApp</string>
	<key>PROJECT_ID</key>
	<string>entranda-app</string>
	<key>STORAGE_BUCKET</key>
	<string>entranda-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090126466803:ios:e30eebc69e8a0d2b</string>
	<key>DATABASE_URL</key>
	<string>https://entranda-app.firebaseio.com</string>
</dict>
</plist>